<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h2>Add a movie</h2>

  <form action='/add' method='POST'>
    title : <input type='text' name='title'><br /><br />
    Actors (use , inbetween every actor) : <input type='text' name='actors'><br /><br />
    <button type='submit'>Add movie</button>
  </form>

</body>
</html>
