<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
<a href="/list">list all movies</a>
<a href="/">Add a movie</a>
  <h1>All movies</h1>

  <ul class='product'>
  <% for(var i=0; i < movies.length; i++) {%>
    <li class='product'>
      <span><%= movies[i].title %></span>
      <ul>
        <span>Actors playing in movie: </span><br />
        <% for(var j=0; j < movies.actors; j++) {%>
        <li><%= movies.actors[j] %></li>
        <% } %>
      </ul>
    </li>
  <% } %>
  </ul>
<br />

<a href='/add'>Add movie</a>&nbsp;&nbsp;<a href='/search'>Search movie</a>

</body>
</html>
