<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h2>Result</h2>
  <p class='product'>
    <span><%= movie.title %></span>
    <span><%= product.description %></span><br /><br />
    <span><b>Price : </b><%= product.price %></span>
  </p>



</body>
</html>
